only-built-dependencies[]=esbuild
only-built-dependencies[]=sharp
only-built-dependencies[]=core-js-pure
minimum-release-age=0
minimum-release-age-exclude[]=@helios/blocks
minimum-release-age-exclude[]=@helios/oui
minimumReleaseAgeExclude[]=@helios/blocks
minimumReleaseAgeExclude[]=@helios/oui
